/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}


main{
    padding: 1rem;
    display: flex;
    justify-content: center;
    section{
        max-width: 700px;
    }
}

.personal-data{
    p{
        margin: 0;
    }
    h3{
        margin: 0;
    }
}

.personal-data, .information, .profile {
    margin-bottom: 1.5rem;
}


.information{
    display: flex;
    justify-content: center;
    div{
        div{
            display: flex;
            justify-content: center;
        }
    }
}

.information .profile-photo {
    max-width: 150px;
    border-radius: 50%;
}

.languages {
    list-style-type: disc;
    margin: 0;
    padding-left: 20px;
}

footer {
    background: #f4f4f4;
    padding: 1rem;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin-bottom: 0.5rem;
}

footer a {
    color: #333;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
